.universal-breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.universal-breadcrumbs-breadcrumb {
  display: flex;
}

.universal-breadcrumbs-breadcrumb-divider {
  display: flex;
}

.universal-breadcrumbs-breadcrumb--link {
  color: blue;
  cursor: pointer;
}